body {
  margin: 0;
  padding: 0;
  background: #f0f0f0;
}

.login-body {
  overflow: hidden;
}

.login-body .container{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  width: 90%;
  background: #fff;
  padding: 32px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 8px;
  transform: scale(0.8);
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8);
}

@media (max-width: 768px) {
  .container {
    width: 95%;
    padding: 30px;
  }
}


.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
    width: 100%;
    margin-top: 40px;
}

.text{
    color: #3c009d;
    font-size: 38px;
    font-weight: 700;
}

.underline{
    width: 49px;
    height: 5px;
    background: #3c009d;
    border-radius: 9px;
}

.inputs{
    margin-top: 44px;
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 384px;
    height: 64px;
    background: #eaeaea;
    border-radius: 6px;
}

.input img{
    margin: 0px 24px;
}

.input input{
    height: 40px;
    width: 320px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 19px;
}

.forgot-password{
    padding-left: 50px;
    margin-top: 22px;
    color: #797979;
    font-size: 14px;
}

.forgot-password span{
    color: #4c00b4;
    cursor: pointer;
}

.submit-container{
    display: flex;
    gap: 24px;
    margin: 48px auto;
}

.submit:hover {
  background: #5a00e0;
  transition: background 0.2s ease;
}

.submit.gray:hover {
  background: #ccc;
  color: #333;
  transition: background 0.2s ease, color 0.2s ease;
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 176px;
    height: 47px;
    color: #fff;
    background: #4c00b4;
    border-radius: 40px;
    font-weight: 700;
    cursor:pointer;
    margin-bottom: 72px;
}

.gray{
    background: #EAEAEA;
    color: #676767;
}    

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  
  .error-message p {
    color: #d8000c;
    background-color: #ffbaba;
    border: 1px solid #d8000c;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    text-align: center;
    animation: fadeIn 0.3s ease-in-out, fadeOut 1s ease-out 5s forwards;
    word-wrap: break-word; /* Ensure text fits within the container */
  }
  
  .success-message p {
    color: #28a745; /* Green color for success messages */
    background-color: #e6f9ec; /* Light green background */
    border: 1px solid #a5d6a7; /* Slightly darker green border */
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    text-align: center;
    animation: fadeIn 0.3s ease-in-out;
  }
  