/* Updated CSS with container styles */
.nav-container {
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
    height: 100vh; 
}

.nav-link-container {
    text-align: left;
    display: block; /* Makes each link take up its own line */
    padding: 10px; /* Adds some padding around the links */
}

.nav-link-container:hover {
    background-color: lightgray; /* Changes background color on hover */
}

.nav-link {
    text-align: left;
    color: black; /* Default link color */
    text-decoration: none; /* Removes underline */
    display: block; /* Ensures the link/button fills the container */
    padding: 0; /* Removes padding from the link/button, use container's padding instead */
    background-color: transparent; /* Ensures the button background is transparent */
    border: none; /* Removes button border */
    cursor: pointer; /* Ensures the cursor changes to a pointer to indicate clickability */
    width: 100%; /* Ensures the button expands to fill its container */
}

.logout-button {
    background-color: transparent; /* Ensures the button background is transparent */
    border: none; /* Removes button border */
    cursor: pointer; /* Changes cursor to pointer to indicate clickability */
    width: 100%; /* Ensures the button expands to fill its container */
    font-size: 15px; /* Increases font size */
    color: red;
}

.active {
    color: blue; /* Active link color */
    font-weight: bold; /* Makes active link bold */
}


.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    padding: var(--sidebar-padding);
    position: fixed;
    left: 20px;
    top: 20px;
    bottom: 20px;
    width: var(--sidebar-width);
    background-color: #f0f0f0;
}

.sidebar-footer {
    margin-top: auto; 
    text-align: center; 
    padding: 20px; 
}

.sidebar-footer .logout-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 15px;
    color: red;
    padding: 10px 0; 
}

.sidebar a {
    display: block;
    padding: 10px;
    margin: 5px 0;
    text-decoration: none;
    color: #333;
}
.sidebar a:hover {
    background-color: #ddd; 
}